.dashboard {
  display: flex;
  justify-content: space-around;
  height: 85vh;
  width: 100%;
}

header {
  // border: 2px black solid;
  width: 100%;
  text-align: center;
  height: 20vh
}

h1 {
  margin: -.1em;
  font-family: 'Princess Sofia';
  font-size: 3em;
}

h2 {
  margin: -.07em;
  font-family: 'Sue Ellen Francisco';
  font-size: 2.5em;

}

h3 {
  // line-height: 1.5;
  text-align: center;
  font-family: 'Sue Ellen Francisco';
  font-size: 2.2em;
}

p {
  font-family: 'Chilanka';
  padding-left: .5em;
  padding-right: .5em;
  // text-align: center;
  text-wrap: wrap;
}

.past-trip-card {
  // border: 2px black solid;
}

.past-trips, .present-trips, .future-trips, .pending-trips, .book-trip-area {
  border: none;
  background: hsla(30, 23%, 60%, 1);
  border-radius: 1em;
  margin: .5em;
}

.book-trip-area {
  height: 100%
}

.present-trips, .future-trips, .pending-trips, .past-trips {
  height: 50%
}

.center {
  width: 50%;
}

.left, .right {
  width: 25%;
}

.book-trip-area {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  // border: 2px red solid;
  align-items: center;
}

.input-area {
  // border: 2px black solid;
  width: 30em;
  // justify-content: space-around;
}

.booking-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-entry {
  width: 20em;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: .5em;
}

.destination-select {
  width: 20em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: .5em;
}

.button-img {
  width: 5em;
}

.submit-button {
  border: none;
  background: transparent;
}

.error-message {
  display: flex;
  margin-top: 3em;
  flex-direction: row-reverse;
}

.message {
  align-items: flex-end;
  // text-align: right;
  font-size: 1.9em;
}

.error-knight {
  padding-top: .7em;
  width: 10em;
  height: 9.5em;
}

.message {

}

.hidden {
  display: none;
}

.moneyarea {
  text-align: center;
  font-family: 'Chilanka';
  font-size: 1.5em;
}








//
